{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">403 Forbidden </h1>

    <p class="text-center">
        The requested page couldn't be located. Please go back to login
    </p>
{% endblock %}