{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">404 Page not found </h1>

    <p class="text-center">
        The requested page couldn't be located. Checkout for any URL
    </p>
{% endblock %}