{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-12"><h2>Add User</h2></div>
    
    <div class="col-12">
    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}
    </div>
{% endblock %}