{% extends 'base.html.twig' %}
{% block body %}
    <h2 class="text-center">Add User</h2>
    
    <div class="col-12">
    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}
    </div>
{% endblock %}