<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">CRUD List</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_USER')) %}
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
              <li class="nav-item">
                <a class="nav-link" href="/crud/create">Add User</a>
              </li>
            {% endif %}
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/googlelogin">Google Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="alert alert-success mt-3">{{flash_message}}</div>
      {% endfor %}
      {% block body %}{% endblock %}
    </main><!-- /.container -->
     {% block javascripts %}{% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>

